@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

:root {
    --font-family: "Inter", sans-serif;

    --color-white: #f2f2f2;
    --color-light-cream: #f5f5f5;
    --color-ligt-grey: #e5e5e5;
    --color-grey: #495057;
    --color-dark-blue: #0a3871;
    --color-light-blue: #0a5b9c;
}

/* ------------------- BASE ------------------- */
body {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-dark-blue);
    background-color: var(--color-ligt-grey);

    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
    padding: 1rem;
    height: 100vh;
}

.text-area {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;

    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-dark-blue);
    background: var(--color-white);
    /* text-transform: lowercase; */
}
::placeholder {
    color: var(--color-dark-blue);
}
.text-area:focus {
    outline: none;
}

/* ------------------- HEADER ------------------- */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.logo {
    width: 1.5rem;
}
.header-title {
    /* display: none; */
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    color: #0a3871;
}

/* ------------------- MAIN ------------------- */
.main-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    height: 100%;
}
.section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    height: 100%;

    background-color: var(--color-light-cream);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.alert-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}
.alert-container img {
    width: 0.8rem;
}
.alert-container p {
    font-size: 0.75rem;
    color: var(--color-grey);
    line-height: normal;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}
.button {
    width: 40%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    transition: 200ms;

    cursor: pointer;
}
.button:hover {
    background-color: var(--color-light-blue);
}

@media screen and (min-width: 768px) {
    .main-container {
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        padding: 0 1rem;
    }
    .section-container {
        padding: 2rem;
    }
    .button {
        padding: 0.7rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .main-container {
        gap: 5rem;
        padding: 0 5rem;
    }
}

/* ------------------- FOOTER ------------------- */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: var(--color-dark-blue);
}
.footer a {
    color: var(--color-dark-blue);
    text-decoration: none;
}
